body {
    color: #ebdbb2; 
    background-color: #282828;
    top: 0;
    left: 0;
    width: 99%;
    height: 97%;
    position: absolute;
    display: table
}
	
p {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

