body {
	background-color: teal; 
}

header {
	text-align: center; 
}

.spinner{
	margin: auto;
	height: 100px;
	width: 100px; 
	border-radius: 100%; 
	left: 30%; top: 20%; 
	border: 10px solid black; 
	border-top-color: gray;
	animation: spin 1s infinite linear; 
}

@keyframes spin{ 
	0%{ transform: rotate(0deg);} 
	100%{ transform: rotate(360deg);} 
}
