body {
 background-color: black;  
 margin-bottom: 200px ;
 max-width: 800px ;
 color: #ECDBBA;
 margin: auto; 
}


@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
header {
  color: #7ECA9C; 
  text-align: center; 
} 

a {
	color: rgb(207, 81, 140) ;
}

a:visited {
	color: gray ;
}

ul {
	list-style-type: none;
	text-align: center;
}

h2 {
  color: #C84B31;
  text-align: center;
} 
p img, li img, h1 img, h2 img, h3 img, h4 img {
	vertical-align: middle ;
	max-width: 1em;
	max-height: 1em;
	border: none ;
	display: inline ;
}

img {
	max-width: 90% ;
	margin: auto ;
	display: block ;
	border: none ;
}
