body {
    color: #f8bd75; 
    background-color: #3e4e50;
    top: 0;
    left: 0;
    width: 99%;
    height: 97%;
    position: absolute;
    display: table
}
	
p {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

a {
    color: #f8bd75;
}

a:visited {
    color: #f8bd75;;
}

a:hover {
    color: #facfad;
}

img {
    width: 560px;
}
